@charset "UTF-8";
/* CSS Document */

/* 공통 */
.content .content_menu ul {
    margin: 0;
    border-bottom: 1px solid #dcdcdc;
}
.content .content_menu ul li {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    background-color: #fbfbfb;
    border: 1px solid #dcdcdc;
    margin-bottom: -1px;
}
.content .content_menu ul li:not(:first-child) {
    margin-left: -3.6px;
}
.content .content_menu ul li:not(.active) {
    cursor: pointer;
}
.content .content_menu ul li.active {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-top: 3px solid #16a085;
}
.content .content_menu ul li a {
    color: inherit;
}
.content .content_menu ul li a:hover {
    text-decoration: none;
    color: inherit;
}
/* 템플릿 메뉴 */
.template_li {
    width: 17rem;
}
.template_ul {
    position: absolute;
    width: 16.1rem;
    left: 34rem;
    border-bottom: 3px solid #16a085;
    display: none;
}
.template_ul li {
    background-color: #ffffff;
}
.template_ul li:hover {
    background-color: #16a085;
}
.template_ul li a {
    color: #333333;
    width: 100%;
    padding: 0.6rem 1.5rem;
    display: block;
}
.template_ul li:hover a {
    text-decoration: none;
    color: #ffffff;
}
/* 목록 - 검색 패널 */
.search_box#send {
    border: 1px solid #dcdcdc;
    background-color: #fbfbfb;
    padding: 3rem;
}
.search_box#send span.title {
    font-weight: 500;
    margin-right: 1rem;
}
.search_box#send label {
    font-weight: 300;
    margin-left: 0.5rem;
}
.search_box#send label:first-child {
    margin-left: 1rem;
}
.search_box#send label span {
    width: 1.05rem;
    height: 1rem;
    border: 1px solid #16a085;
    border-radius: 50%;
    display: inline-block;
}
.search_box#send label span.active {
    background-color: #16a085;
}
.search_box#send label input[type=radio] {
    display: none;
}
.search_box#send div:nth-child(2) {
    margin-top: 2rem;
}
.search_box#send div select {
    display: inline-block;
    margin-right: 1rem;
}
.search_box#send div select:first-child {
    margin-left: 0;
}
.search_box#send div div  {
    display: inline-block;
    margin: 0 2rem;
}
.search_box#send div div input {
    position: relative;
    top: 0.2rem;
    margin-left: 0.5rem;
}
.search_box#send .btn_atoz {
    display: inline-block;
}

/* 테이블 */
.detail_list,
.template_register {
    /*padding: 3rem 1rem 1rem;*/
    padding: 1rem;
}
.detail_list table,
.template_register table {
    width: 100%;
}

.detail_list table tr td,
.template_register table tr td {
    padding: 1.3rem 2rem;
    border: 1px solid #dcdcdc;
}
.detail_list table tbody tr td:first-child,
.template_register table tr td:first-child {
    font-weight: 400;
    text-align: center;
    width: 15%;
    background-color: #fbfbfb;
}
/* 목록 테이블 */
/*.detail_list table#plus,
.detail_list table#template,
.detail_list table#block,
.detail_list table#address,*/
.detail_list table#send {
    margin-top: 3rem;
}
.detail_list table#plus thead tr td,
.detail_list table#template thead tr td,
.detail_list table#block thead tr td,
.detail_list table#group thead tr td,
.detail_list table#address thead tr td,
.detail_list table#send thead tr td {
    font-weight: 400;
    text-align: center;
    background-color: #e8e8e8;
    padding: 0.8rem 0;
}
.detail_list table#plus tbody tr td,
.detail_list table#template tbody tr td,
.detail_list table#block tbody tr td,
.detail_list table#group tbody tr td,
.detail_list table#address tbody tr td,
.detail_list table#send tbody tr td {
    text-align: center;
}
.detail_list table#plus tbody tr td:first-child,
.detail_list table#template tbody tr td:first-child,
.detail_list table#address tbody tr td:first-child {
    width: 5%;
}
.detail_list table#plus tbody tr td.no_list,
.detail_list table#block tbody tr td.no_list,
.detail_list table#group tbody tr td.no_list,
.detail_list table#address tbody tr td.no_list,
.detail_list table#send tbody tr td.no_list {
    font-size: 1.2rem;
    color: #666666;
    display: none;
}

/* 템플릿 리스트 테이블 */
.detail_list table#template tbody tr:hover td {
    cursor: pointer;
    background-color: #fbfbfb;
}
.detail_list table#template tbody tr td {
    padding: 1rem 0.5rem;
}
.detail_list table#template tbody tr td:nth-child(1){
    width: 1%;
}
.detail_list table#template tbody tr td:nth-child(2),
.detail_list table#template tbody tr td:nth-child(3) {
    width: 8%;
}
.detail_list table#template tbody tr td:nth-child(4) {
    width: 11%;
}
.detail_list table#template tbody tr td:nth-child(4):hover {
    text-decoration: underline;
}
.detail_list table#template tbody tr td.template_content {
    text-align: left;
    width: 25%;
}
.detail_list table#template tbody tr td:nth-child(6),
.detail_list table#template tbody tr td:nth-child(7),
.detail_list table#template tbody tr td:nth-child(8),
.detail_list table#template tbody tr td:nth-child(9),
.detail_list table#template tbody tr td:nth-child(10) {
    width: 7%;
}

/* 버튼 */
.btn_del.deactive {
    background-color: #efefef;
    cursor: not-allowed;
}

/* 안내 */
.notice {
    /*margin-top: 3rem;*/
}
.notice ul li.red {
    color: #ff6b61;
}
.notice.small {
    font-size: 1.2rem;
}
.notice ul {
    background-color: #fafafa;
    border: 1px solid #dcdcdc;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 1rem;
}
.notice ul li {
    margin: 0.5rem;
}
.notice ul li:before {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #16a085;
    margin-right: 0.8rem;
}
